
@{
    ViewData["Title"] = "Calculators";
}

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header text-dark">Base Curve</div>
    <div class="card-body text-dark">
        <ul class="list-unstyled">
            <li>
                <a asp-controller="BaseCurve" asp-action="VogelsRulePlus">VogelsRulePlus</a>
            </li>
            <li>
                <a asp-controller="BaseCurve" asp-action="VogelsRuleMinus">VogelsRuleMinus</a>
            </li>
            <li>
                <a asp-controller="BaseCurve" asp-action="BoddyFormula">BoddyFormula</a>
            </li>
        </ul>
    </div>
</div>
