@model RobsWebsiteV2.CalcModels.BaseCurve.BoddyFormula

@{
    ViewData["Title"] = "BoddyFormula";
}

<h2>BoddyFormula</h2>

<h4>BoddyFormula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BoddyFormula">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpherePower" class="control-label"></label>
                <input asp-for="SpherePower" class="form-control" />
                <span asp-validation-for="SpherePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CylinderPower" class="control-label"></label>
                <input asp-for="CylinderPower" class="form-control" />
                <span asp-validation-for="CylinderPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddPower" class="control-label"></label>
                <input asp-for="AddPower" class="form-control" />
                <span asp-validation-for="AddPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label">@Html.DisplayFor(m => Model.Result)</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
