
@{
    ViewData["Title"] = "Achievements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="achievements">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 achievements">
                    <a target="_blank" href="http://www.abo-ncle.org/">
                        <img src="~/images/Achievements/ABO-Cert-Logo.png" alt="ABO-Cert-Logo" width="300" height="200">
                    </a>
                </div>
                <div class="col-md-3 achievements">
                    <a target="_blank" href="https://www.nths.org/">
                        <img src="~/images/Achievements/nthslogo.png" alt="NTHS Logo" width="300" height="200">
                    </a>
                </div>
                <div class="col-md-3 achievements">
                    <a target="_blank" href="http://www.ptk.org/default.aspx">
                        <img src="~/images/Achievements/ptk_seal_bw.jpg" alt="Phi Theta Kappa Logo" width="300" height="200">
                    </a>
                </div><!--End of class img for phi theta kappa logo-->
                <div class="col-md-3 achievements">
                    <a target="_blank" href="https://www.isixsigma.com/">
                        <img src="~/images/Achievements/LSSBB.png" alt="Lean Six Sigma" width="300" height="200">
                    </a>
                </div><!--End of class img for six sigma logo-->
            </div>
        </div>
    </div>
</div>

