@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="articles">
    <div id="articlegallery">

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>3 Weird Ways to Increase Production and Reduce Breakage</p>
                    <p class="thumbsubtext">-Brings to light often overlooked principles of manufacturing.</p>
                    <a href="~/pdf/LabTalk/LabTalk_NovDec2016.pdf" target="_blank"><img src="~/images/Articles/3WierdWays.png" alt="3 Wierd Ways"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Happily Every After?</p>
                    <p class="thumbsubtext">-An interview addressing lab/office relations for OPT magazine.</p>
                    <a href="~/pdf/OPT/OPT-Spring-2017-WEB.pdf" target="_blank"><img src="~/images/Articles/HappilyEveryAfter.png" alt="Happily Every After?"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Too Soon to Sigma?</p>
                    <p class="thumbsubtext">-A very basic outline of Six Sigma and the DMAIC approach to problem solving.</p>
                    <a href="~/pdf/LabTalk/LabTalk/LabTalk_February.pdf" target="_blank"><img src="~/images/Articles/TooSoonToSigma.png" alt="Too Soon To Sigma?"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Tips for New Tech</p>
                    <p class="thumbsubtext">-Tips and tricks for deploying new equipment in a lab as pain free as possible.</p>
                    <a href="~/pdf/LabTalk/LabTalk_MayJune2017..pdf" target="_blank"><img src="~/images/Articles/TipForNewTech.png" alt="Tips for new tech"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Muda: The 7 Deadly Wastes </p>
                    <p class="thumbsubtext">-A basic rundown of the 7 most common forms of waste in a production enviornment.</p>
                    <a href="~/pdf/LabTalk/LabTalk_SeptOctober2017.pdf" target="_blank"><img src="~/images/Articles/Muda7DeadlyWastes.png" alt="Muda: The 7 Deadly Wastes"></a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Who's down with OEE? </p>
                    <p class="thumbsubtext">-A look into the equipment metric OEE.</p>
                    <a href="~/pdf/LabTalk/LabTalk_NovDec2017.pdf" target="_blank"><img src="~/images/Articles/OEE.png" alt="Who's down with OEE?"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Zero To Hero </p>
                    <p class="thumbsubtext">-Here I outline a simple, but effective, technique for training new employees.</p>
                    <a href="~/pdf/LabTalk/LabTalk_FebMar2018.pdf" target="_blank"><img src="~/images/Articles/ZeroToHero.png" alt="Zero To Hero"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Attribute Agreement Analysis</p>
                    <p class="thumbsubtext">-A method to ensure continuity in the inspection process.</p>
                    <a href="~/pdf/LabTalk/LabTalk_MayJune2018.pdf" target="_blank"><img src="~/images/Articles/AAA.png" alt="Attribute Agreement Analysis"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Take the 2% Challenge</p>
                    <p class="thumbsubtext">- A challenge posed by labs to reduce their breakage by at least 2%. Includes tips and tricks.</p>
                    <a href="~/pdf/LabTalk/LabTalk_SeptOct2018.pdf" target="_blank"><img src="~/images/Articles/TakeThe2PercentChallenge.png" alt="Take the 2% challenge"></a>
                </div>
            </div>
        </div>

    </div><!--End of div id articlegallery-->
</div>