@using RobsWebsiteV2.Models

@model CalcPage

@{
    ViewData["Title"] = "Calculators";
}

<h2>Calculators</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" id="CalcType" name="CalculationTypes">
                        <option>Select Calculation Category</option>
                        @foreach (var item in CalcPage.GetDLLTypes())
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="Calc" name="Calculations">
                        <option>Select the Calculation</option>
                        @foreach (var item in CalcPage.GetMethodNames("Prism"))
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="Calc" name="Calculations">
                        <option>Select the Calculation</option>
                        @foreach (var item in CalcPage.GetMethodNames("Prism"))
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

