@using RobsWebsiteV2.Models

@model CalcPage

@{
    ViewData["Title"] = "Calculators";
}

<h2>Calculators</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" id="CalcType" name="CalTypes" >
                       
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="Calc" name="Calculations" ></select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#CalcType").change(function () {

            var url = '@Url.Content("~/")' + "CascadeCalc/GetCalcByName";
            var ddlSource = "#CalcType";
            $.getJSON(url, { name: $(ddlSource.val()) }, function (data) {
                var items = '';
                $("#calc").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#calc").html.(items);
            })
        });
    });
</script>

