@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Email</strong> <a href="mailto:contact@robertminardi.com">contact@robertminardi.com</a><br />
</address>
