@{
    ViewData["Title"] = "Lectures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classes/@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="lecturesContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Basic Opticianry Training</p>
                    <p class="thumbsubtext">-A class I created to help the staff grasp the basics of what we do. It then became a required course for all new hires.</p>
                    <img src="../images/Lectures/LabTraining.png" alt="Lab Training">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Labzilla Workticket Training</p>
                    <p class="thumbsubtext">-Coursework to help the staff understand the Labzilla workticket.</p>
                    <img src="../images/Lectures/TrainingDocsMore.png" alt="Labzilla Workticket Training">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>Advanced Opticianry Training</p>
                    <p class="thumbsubtext">-Coursework that covered slightly more advanced topics than the basic training offered.</p>
                    <img id="advancedpic" src="../images/Lectures/AdvancedTrainingDocs.png" alt="Advanced Opticianry Training">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <p>ABO Preparation Classes</p>
                    <p class="thumbsubtext">-This course included daily emails with example questions, as well as two practice exams. &#40; 100% pass rate &#41;</p>
                    <img src="../images/Lectures/ABOClassDocs.png" alt="ABO Preparation Training">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <h2>Lectures</h2>
                    <p class="thumbsubtext">-A couple of lectures I gave to regional managers to resolve issues with excessive lens thickness and  general workticket knowledge.</p>
                    <img class="lecturespic" src="../images/Lectures/LensFrameLecture.png" alt="Lectures">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img class="lecturespic" src="../images/Lectures/Workticket.png" alt="Lectures">
                </div>
            </div>
        </div>
    </div><!--End of container -->
</div>@*End of lectureContainer*@

