@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="skillsContainer">
    <div class="container">
        @*Languages and IDE*@
        <div class="row">
            <div class="col-md-3">
                <i class="devicon-csharp-plain-wordmark colored"></i>
            </div>
            <div class="col-md-3">
                <img src="~/images/Skills/delphi-6-347009.png" />
            </div>
            <div class="col-md-3">
                <img src="~/images/Skills/sql-512.png" />
            </div>
            <div class="col-md-3">
                <i class="cbp-ig-icon devicon-dot-net-plain-wordmark colored"></i>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        @*Web*@
        <div class="row">
            <div class="col-md-3">
                <i class="devicon-html5-plain-wordmark colored"></i>
            </div>
            <div class="col-md-3">
                <i class="cbp-ig-icon devicon-css3-plain-wordmark colored"></i>
            </div>
            <div class="col-md-3">
                <i class="cbp-ig-icon devicon-javascript-plain colored"></i>
            </div>
            <div class="col-md-3">
                <i class="devicon-bootstrap-plain-wordmark colored"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/Skills/lean_six_sigma.jpg" />
            </div>
            <div class="col-md-3">
                <figure>
                    <img src="~/images/Skills/Opticianry-512.png" />
                    @*<figcaption>Opticianry</figcaption>*@
                </figure>              
            </div>
            <div class="col-md-3">
                <img src="~/images/Skills/edit_script-512.png" />
            </div>
        </div>
    </div>
</div>
