
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Video page.</p>



	<p>Sky Jump from the Stratosphere Hotel in Las Vegas</p>
	<p class="thumbsubtext">I'm terrified of heights...which I think this video captures perfectly.</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/KmAd6BGcpSk" frameborder="0" allowfullscreen></iframe>



	<p>Tandem Skydive</p>
	<p class="thumbsubtext">My first and only skydive. Sorry about the video quality but it's a rm file, captured from VHS, then converted to mp4.</p>
	<iframe src="https://www.youtube.com/embed/cLRgoc9jUr4" frameborder="0" allowfullscreen></iframe>





	<p>500 pound deadlift at 42 years young.</p>
	<p class="thumbsubtext">My best conventional deadlift ever. After I was told by doctors I wouldn't be able to attain that level of strength again.</p>
    <iframe src="https://www.youtube.com/embed/XNzuSFDZvvc" frameborder="0" allowfullscreen></iframe>
	
												