
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KmAd6BGcpSk" allowfullscreen></iframe>
            </div>

        </div>

        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cLRgoc9jUr4" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XNzuSFDZvvc" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>